*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(95, 185, 185);
}
.container{
    background-color: aliceblue;
   padding: 2rem;
   min-height: 45vh;
   width: 44vh;
   border-radius: 1.5rem;
}
form{
    margin: 2rem 0 1rem 0;
}
form input ,select,button{
   border: none;
   outline: none;
  border-radius: 1rem;
width: 100%;

}
form input{
        border: 1px solid aqua;
        font-size: 1rem;
        height: 3rem;
        padding-left: .5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 1.5rem 0;

}
.to img,.from img{
    width: 2rem;
    /* border-radius: ; */
}
.to img,.from img{
    display: flex;
    justify-content: center;
    align-self: center;
    width:2.5rem;
    box-shadow: 5px,2px;
    border-radius: .5rem;
    border: 1px solid aqua;
   
    margin: 1rem 0 1rem;
}
select{
    border: 1px solid aqua;
}
select,option{
  font-size: 1rem;

}
#change{
    border: 2px solid aqua;
    height: 2rem;
    font-size: 1rem;
    cursor: pointer;
}
#change:hover{
    background-color: aquamarine;
    border: rgb(34, 138, 29);
}
#text{
    margin: 1rem 0 1rem 0;
}
